body {
  font-family: 'Poppins', sans-serif;
  background-color: #0a0a0a;
  margin: 0;
  padding: 0;
  color: white;
  overflow-x: hidden;
}


.navbar {
  background-color: #000 !important;
  border-bottom: 2px solid #ff00aa;
}

.glow-text {
  color: #ff4fd8;
  text-shadow: 0 0 10px #ff00aa;
  letter-spacing: 2px;
}

.elchamo-icon {
  height: 40px;
  width: auto;
  border-radius: 8px;
}


.dark-letter {
  min-height: 100vh;
  background-image: url("ayuda.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  padding: 60px 0;
}


.dark-letter::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
  );
  backdrop-filter: blur(3px); 
}


.dark-letter .container {
  position: relative;
  z-index: 2;
}



.glow-title {
  color: #ffffff;
  font-weight: 800;
  text-shadow: 0 0 15px rgba(255, 0, 170, 0.8);
  letter-spacing: 3px;
  margin-bottom: 40px;
}


.imagen-vertical {
  max-height: 70vh;
  width: auto;
  border-radius: 16px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
  transition: all 0.4s ease;
}

.imagen-vertical:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px rgba(255, 0, 170, 0.4);
}

.kuromi-footer {
  background: linear-gradient(to top, #000000, #140018);
  border-top: 2px solid #ff00aa;
  color: #f5c6ff;
  padding: 10px 0;   
}

.kuromi-title {
  font-weight: 600;
  font-size: 14px;   
  color: #ff4fd8;
  text-shadow: 0 0 6px #ff00aa;
  letter-spacing: 1px;
  margin: 0;         
}

.carousel-video {
  width: 70%;
  max-height: 500px;
  border-radius: 20px;
}

.carousel-img {
  width: 70%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 20px;
}

.carousel-item {
  position: relative;
}

.collage-caption {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none; 
  z-index: 10;
}

.badge-culpable {
  background: rgba(255, 0, 170, 0.8);
  color: white;
  font-weight: bold;
  padding: 8px 25px;
  border-radius: 50px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0 0 20px #ff00aa;
  border: 2px solid white;
  animation: parpadeo-culpable 2s infinite;
  backdrop-filter: blur(5px);
  font-family: 'Courier New', monospace;
  display: inline-block;
}

@keyframes parpadeo-culpable {
  0%, 100% { 
    background: rgba(255, 0, 170, 0.8);
    box-shadow: 0 0 20px #ff00aa;
  }
  50% { 
    background: rgba(255, 0, 100, 0.9);
    box-shadow: 0 0 40px #ff3366;
  }
}


.carousel-img {
  width: auto; 
  max-width: 100%; 
  max-height: 500px;
  object-fit: contain;
  border-radius: 20px;
  margin: 0 auto; 
  display: block;
}